# Need a directory for any logging scripts, but don't want to be commiting the
# files themselves.
Logs/
!Logs/README

# File contains sensative information. There's no need to include it in the
# structure, as the scripts can write to it without it existing.
Utilities/worlds.dat

# To keep from overwriting custom configuration files ignore the .conf files
# and store .conf.example
conf.d/*.conf

