#CLASS {config} {OPEN}

#NOP This file determines what services are to be loaded, as well as
#NOP configurable service values.

#NOP Channel Highlight
#NOP =================
#NOP This changes the colors of channels since so many use the same color
#VARIABLE {channel_highlight} {$ON}
#VARIABLE {mud_color[generic channel]} {$ansi_color_light_blue}
#VARIABLE {clr_order} {${tt_fg_indigo}}
#VARIABLE {clr_guild} {${tt_fg_orange}}
#VARIABLE {clr_sect} {${tt_fg_orange}}
#VARIABLE {clr_clan} {${tt_fg_orange}}
#VARIABLE {clr_tribe} {${tt_fg_indigo}}
#VARIABLE {clr_council} {${tt_fg_lime}}
#VARIABLE {clr_quest} {${tt_fg_azure}}
#VARIABLE {clr_chat} {${tt_fg_brown}}
#VARIABLE {clr_ask} {${tt_fg_viridian}}
#VARIABLE {clr_tell} {${tt_bg_grey}${tt_fg_black}}

#NOP Repop Tracking
#NOP ==============
#VARIABLE {repop_tracking} {$ON}
#VARIABLE {mud_color[repop]} {$ansi_color_green}

#NOP Disarm Scripts
#NOP ==============
#VARIABLE {DISARM_ON} {$ON}
#VARIABLE {mud_color[disarm]} {$ansi_color_light_red}

#NOP Spell Check
#NOP ===========
#VARIABLE {SPELLCHK_ON} {$ON}
#NOP #VARIABLE {mud_color[generic channel]} {$ansi_color_light_blue}

#NOP Equipment Tracking
#NOP ==================
#VARIABLE {EQDMG_ON} {$ON}

#NOP MSDP parsing
#NOP ============
#VARIABLE {MSDP_ON} {$ON}
#VARIABLE {MISC_ON} {$OFF}
#VARIABLE {fTrackIp} {$OFF}

#CLASS {config} {CLOSE}

